* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #F4F2EE;
  
}                    /* minimal css reset */


.logo-linkedin {
  width: 50px;
  }
  .search{ 
    background-color:#EDF3F7;
   }

.bi-pencil {
  cursor: pointer;
}

button:hover {
  border: 1px solid #000000 !important;
  background-color: #c2c2c23e !important;
}


