* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  background-color: #f4f2ee;
}

.logo-linkedin {
  width: 50px;
}

.search {
  background-color: #edf3f7;
}

.bi-pencil {
  cursor: pointer;
}

.sidebarButton:hover {
  border: 1px solid #000000 !important;
  background-color: #c2c2c23e !important;
}

.mainContainer {
  margin-top: 100px !important;
}

.dropdown-toggle {
  padding: 0;
}

.nav-space {
  margin-top: 10px;
}

.profileSidebar {
  margin-top: 10px;
  background-color: white;
}

.navbarSearchbar {
  margin-right: 10em;
}

.profileDropdown {
  border-right: solid 1px #d3d3d3;
}


.side-text{  
  font-size: 13px ;
}

.home-plus {
  position: absolute;
  top: 24%;
  left: 33%;
  font-size: 25px;
  color: #0B66C2;
  background-color: white;
  width: 30px;  /* Imposta la larghezza */
  height: 30px; /* Imposta l'altezza */
  display: flex; /* Usa flexbox per centrare il contenuto */
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Rende il tasto rotondo */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra per migliorare la visibilità */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
  padding: 0; /* Rimuove eventuali padding indesiderati */
}

.btn-home{  
  background-color: #DFDEDA;
}